ph-cii-d22b/src/main/resources/external/schemas/d22b/cdar/CrossDomainAcknowledgementAndResponse_100pD22B_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:100"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:100"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100"
    targetNamespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:100"
    elementFormDefault="qualified"
    version="100.D22B">
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:100" schemaLocation="CrossDomainAcknowledgementAndResponse_100pD22B_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100" schemaLocation="CrossDomainAcknowledgementAndResponse_100pD22B_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd"/>
  <xsd:complexType name="AcknowledgementDocumentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Acknowledgement Document</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MultipleReferencesIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Multiple References Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:DocumentCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssueDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Issue Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatusCode" type="qdt:StatusCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Status Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AcknowledgementStatusCode" type="qdt:AcknowledgementCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Acknowledgement Status Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ItemIdentificationID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Item ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonInformation" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Reason Information Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChannelCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Channel Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcessConditionCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Process Condition Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcessCondition" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Process Condition Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Status Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReferenceReferencedDocument" type="ram:ReferencedDocumentType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Reference Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentCharacteristicType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Document Characteristic</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValueChangedIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Value Changed Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValueAdjustmentDirectionCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Value Adjustment Direction Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Location" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Location Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Value Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValueAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Value Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValueMeasure" type="udt:MeasureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Value Measure</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValueDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Value Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValueCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Value Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValueQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Value Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValueNumeric" type="udt:NumericType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Value Numeric</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValuePercent" type="udt:PercentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Value Percentage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentContextParameterType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Document Context Parameter</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentStatusType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Document Status</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ReferenceDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Reference Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConditionCode" type="qdt:DocumentStatusCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Condition Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Reason Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reason" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Reason Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Condition" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Condition Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcessConditionCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Process Condition Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcessCondition" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Process Condition Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonInformationCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Reason Information Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonInformation" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Reason Information Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonClassificationCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Reason Classification Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonClassification" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Reason Classification Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequestedActionCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Requested Action Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequestedAction" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Requested Action Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InvalidInformation" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Invalid Information Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValidInformation" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Valid Information Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SequenceNumeric" type="udt:NumericType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Sequence Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Included Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedDocumentCharacteristic" type="ram:DocumentCharacteristicType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Specified Document Characteristic</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangedDocumentContextType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Exchanged Document Context</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TestIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Test Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BusinessProcessSpecifiedDocumentContextParameter" type="ram:DocumentContextParameterType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Business Process</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GuidelineSpecifiedDocumentContextParameter" type="ram:DocumentContextParameterType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Guideline</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangedDocumentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Exchanged Document</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:DocumentCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatusCode" type="qdt:DocumentStatusCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Status Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssueDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Issue Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LanguageID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Language Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElectronicPresentationIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Electronic Presentation Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VersionID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Version ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GlobalID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Global ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EffectiveSpecifiedPeriod" type="ram:SpecifiedPeriodType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Effective Period</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SenderTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Sender</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssuerTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Issuer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecipientTradeParty" type="ram:TradePartyType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Recipient</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NoteType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Note</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ContentCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Content Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Content" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Content Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubjectCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Subject Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferencedDocumentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Referenced Document</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="IssuerAssignedID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Issuer Assigned ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatusCode" type="qdt:DocumentStatusCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Status Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CopyIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Copy Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:DocumentCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GlobalID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Global ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RevisionID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Revision ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReceiptDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Receipt Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AttachmentBinaryObject" type="udt:BinaryObjectType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Attached Binary Object</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReferenceTypeCode" type="qdt:ReferenceCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Reference Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LanguageID" type="qdt:LanguageIDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Language Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FormattedIssueDateTime" type="qdt:FormattedDateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Formatted Issue Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedAmount" type="udt:AmountType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Included Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VersionID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Version ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TotalIssueCountNumeric" type="udt:NumericType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Total Issue Count</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Status Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcessConditionCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Process Condition Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcessCondition" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Process Condition Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssuerTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Issuer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecipientTradeParty" type="ram:TradePartyType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Recipient</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SenderTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Sender</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedDocumentStatus" type="ram:DocumentStatusType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Specified Status</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ValiditySpecifiedPeriod" type="ram:SpecifiedPeriodType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Validity Period</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpecifiedPeriodType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Period</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StartDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Start Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EndDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">End Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeAddressType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Address</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PostcodeCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Postcode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineOne" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line One</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineTwo" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Two</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineThree" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Three</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineFour" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Four</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineFive" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Five</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StreetName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Street Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CityName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">City Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryID" type="qdt:CountryIDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountrySubDivisionID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Sub-Division Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountrySubDivisionName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Sub-Division Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeContactType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Contact</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PersonName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Person Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepartmentName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Department Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:ContactTypeCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TelephoneUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Telephone</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FaxUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Fax</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EmailURIUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Email Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradePartyType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Party</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GlobalID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Global ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RoleCode" type="qdt:PartyRoleCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Role Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefinedTradeContact" type="ram:TradeContactType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Defined Contact Details</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostalTradeAddress" type="ram:TradeAddressType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Postal Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="URIUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">URI</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UniversalCommunicationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Communication</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="URIID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">URI</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompleteNumber" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Complete Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
