ph-cii-d22b/src/main/resources/external/schemas/d22b/cdar/CrossDomainAcknowledgementAndResponse_100pD22B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:rsm="urn:un:unece:uncefact:data:standard:CrossDomainAcknowledgementAndResponse:100"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:100"
    xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:100"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100"
    targetNamespace="urn:un:unece:uncefact:data:standard:CrossDomainAcknowledgementAndResponse:100"
    elementFormDefault="qualified"
    version="100.D22B">
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:100" schemaLocation="CrossDomainAcknowledgementAndResponse_100pD22B_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:100" schemaLocation="CrossDomainAcknowledgementAndResponse_100pD22B_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100" schemaLocation="CrossDomainAcknowledgementAndResponse_100pD22B_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd"/>
  <xsd:element name="CrossDomainAcknowledgementAndResponse" type="rsm:CrossDomainAcknowledgementAndResponseType"/>
  <xsd:complexType name="CrossDomainAcknowledgementAndResponseType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Cross Domain Acknowledgement and Response</xsd:documentation>
      <xsd:documentation source="BN/BN">Cross Domain Acknowledgement and Response</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ExchangedDocumentContext" type="ram:ExchangedDocumentContextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Exchanged Document Context</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExchangedDocument" type="ram:ExchangedDocumentType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Exchanged Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AcknowledgementDocument" type="ram:AcknowledgementDocumentType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Acknowledgement Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
