ph-cii-d22b/src/main/resources/external/schemas/d22b/cdar/CrossDomainAcknowledgementAndResponse_100pD22B_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:100" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100" targetNamespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:100" elementFormDefault="qualified" version="100.D22B">
	<xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100" schemaLocation="CrossDomainAcknowledgementAndResponse_100pD22B_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd"/>
	<xsd:complexType name="AcknowledgementCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:MessageFunctionCodeAcknowledgementContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1225"/>
				<xsd:attribute name="listAgencyID" type="qdt:AcknowledgementCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AcknowledgementContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="AcknowledgementCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
		<xsd:simpleType name="MessageFunctionCodeAcknowledgementContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="ContactTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:ContactTypeCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="3139"/>
				<xsd:attribute name="listAgencyID" type="qdt:ContactTypeCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ContactTypeCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="ContactTypeCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="CountryIDType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:CountryIDContentType">
				<xsd:attribute name="listID" type="xsd:token" default="ISO 3166-1 2A"/>
				<xsd:attribute name="schemeAgencyID" type="qdt:CountryIDSchemeAgencyIDContentType" default="5"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CountryIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="CountryIDSchemeAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="CurrencyCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:CurrencyCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="ISO 4217 3A"/>
				<xsd:attribute name="listAgencyID" type="qdt:CurrencyCodeListAgencyIDContentType" default="5"/>
				<xsd:attribute name="listVersionID" type="xsd:token"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="CurrencyCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="DocumentCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:DocumentCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1001"/>
				<xsd:attribute name="listAgencyID" type="qdt:DocumentCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DocumentCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="DocumentStatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:DocumentStatusCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1373"/>
				<xsd:attribute name="listAgencyID" type="qdt:DocumentStatusCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DocumentStatusCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentStatusCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="LanguageIDType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:ISOAlpha2LanguageCodeContentType">
				<xsd:attribute name="schemeID" type="xsd:token" default="ISO 639-1 2A"/>
				<xsd:attribute name="schemeAgencyID" type="qdt:LanguageIDSchemeAgencyIDContentType" default="5"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ISOAlpha2LanguageCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="LanguageIDSchemeAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="FormattedDateTimeType">
		<xsd:sequence>
			<xsd:element name="DateTimeString">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="format" type="qdt:FormattedDateTimeFormatContentType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="FormattedDateTimeFormatContentType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeOnlyFormattedDateTimeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="MessageFunctionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:MessageFunctionCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1225"/>
				<xsd:attribute name="listAgencyID" type="qdt:MessageFunctionCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="MessageFunctionCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="MessageFunctionCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="PartyRoleCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:PartyRoleCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="3035"/>
				<xsd:attribute name="listAgencyID" type="qdt:PartyRoleCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PartyRoleCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="PartyRoleCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="ReferenceCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:ReferenceCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="1153"/>
				<xsd:attribute name="listAgencyID" type="qdt:ReferenceCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ReferenceCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReferenceCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="StatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="qdt:StatusCodeContentType">
				<xsd:attribute name="listID" type="xsd:token" default="4405"/>
				<xsd:attribute name="listAgencyID" type="qdt:StatusCodeListAgencyIDContentType" default="6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="StatusCodeContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:simpleType name="StatusCodeListAgencyIDContentType">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
</xsd:schema>
